/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes sliding-selector {
    0% {
        left: -24px;
    }
    100% {
        left: -20px;
    }

}

@keyframes like-sparks {
    0% {
        fill: transparent;
    }
    50% {
        fill: var(--like-icon-fill-color, #FF0000);
    }
    100% {
        fill: transparent;
    }

}

@keyframes like-enlarge {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5) translateX(-10%) translateY(-10%);
    }
    100% {
        transform: scale(1);
    }
}
